/** Codigo general **/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.fondoIndex {
    background-color: #8e8e8e;
}


h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color: white;
}

.nosotrosFondo {
    background-color: #8e8e8e;
}

.entrenadoresFondo {
    background-color: #8e8e8e;
}

.featuresFondo {
    background-color: #8e8e8e;
}

.planesFondo {
    background-color: #8e8e8e;
}

* button{
    padding: 10px;
    border-radius: 45%;
    width: 100px;
    height: 3.125rem;
    border: none;
    }
/**Termina codigo general **/

/** Comienza el codigo de INDEX **/
.headerIndex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBar ul {
    display: flex;
    flex-direction: row;
}

.textonavBar {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBar li {
    display: flex;
    text-decoration: none;
}

.textonavBar li a{
    color: white;
}

.cuerpoIndex button {
    background-color: red;
}

.cuerpoIndex {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
}

.cuerpoIndex .chicoGym {
    display: grid;
    filter: grayscale();
    grid-column: 4/5;
    grid-row: 1/4;
    justify-self: center;
    align-self: end; 
}

.cuerpoIndex .logoFacebook {
    display: grid;
    width: 20%;
    height: 20vh;
    object-fit: contain;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoIndex .logoInsta {
    display: grid;
    width: 20%;
    height: 20vh;
    object-fit: contain;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoIndex .logoLinked {
    display: grid;
    width: 20%;
    height: 20vh;
    object-fit: contain;
    grid-column: 3/4;
    grid-row: 3/4; 
    justify-self: center;
    align-self: center;
}

span {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.cuerpoIndex h1 {
    display: grid;
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    font-size: 40px;
    padding-right: 50px;
    line-height: 0.8;
    justify-self: center;
    align-self: center;
    color: white
}
.cuerpoIndex span{
    font-size: 50px ;
    color: red; 
}

.cuerpoIndex .botonSumate {
    display: grid;
    padding: 15px 10px;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
.cuerpoIndex .botonFacebook {
    display: grid;
    padding: 15px 10px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;
}
.cuerpoIndex .botonInsta {
    display: grid;
    padding: 15px 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;
}
.cuerpoIndex .botonLinked {
    display: grid;
    padding: 15px 10px;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;
}

.cuerpoIndex img:hover{
    filter: drop-shadow(4px 4px red);
}

.cuerpoIndex a:hover{
    color: red;
    font-weight: bolder;
}

.cuerpoIndex button:hover{
    background-color: white;
}

.cuerpoIndex span:hover{
    color: white;
}

.cuerpoIndex h1:hover{
    color: red;
}

.cuerpoIndenx .textonaBar li:hover{
    color: red;
}

.textonavBar li a:hover{
    color: red;
}

.footerIndex {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerIndex .tituloUnoIndex {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
}

.footerIndex .textoUnoIndex {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.footerIndex .tituloDosIndex {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.footerIndex .textoDosIndex {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.footerIndex .tituloTresIndex {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
}

.footerIndex .textoTresIndex {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.footerIndex .gradienteFooterIndex{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
}

/** Termina el codigo de INDEX **/

/**Comienza codigo de nosotros.html **/

.headerNosotros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarNosotros ul {
    display: flex;
    flex-direction: row;
}

.textonavBarNosotros {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarNosotros li{
    display: flex;
    text-decoration: none;
}

.cuerpoNosotros {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
}

.cuerpoNosotros .bannerGym {
    display: grid;
    width: 45%;
    height: 30vh;
    filter: grayscale();
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.cuerpoNosotros h1{
    font-size: 55px;
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    color: red;
}

.cuerpoNosotros .logoActive {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3; 
    justify-self: center;
    align-self: center;
}

.cuerpoNosotros .parrafoUno {
    display: grid;
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
}

.cuerpoNosotros .parrafoDos {
    display: grid;
    grid-column: 2/4;
    grid-row: 3/4;
    margin-bottom: 50px;
    text-align: center;
    align-self: end;
    justify-self: end
}

.cuerpoNosotros .iconoUbicacion {
    display: grid;
    width: 10%;
    height: 10vh;
    margin-bottom: 50px;
    margin-right: 30px;
    filter: grayscale();
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: top;
    justify-self: center;
}

.cuerpoNosotros img:hover{
    filter:brightness();
}

.cuerpoNosotros h1:hover{
    color:darkred;
}

.textonavBarNosotros li a:hover{
    color: red
}

.footerNosotros {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerNosotros .tituloUnoNosotros {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
}

.footerNosotros .textoUnoNosotros {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.footerNosotros .tituloDosNosotros {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.footerNosotros .textoDosNosotros {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.footerNosotros .tituloTresNosotros {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
}

.footerNosotros .textoTresNosotros {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.footerNosotros .gradienteFooterNosotros{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
}


/**Termina codigo de nosotros.html**/

/** Comienza codigo de entrenadores.html **/

.headerEntrenadores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cuerpoEntrenadores button {
    background-color: yellow;
    padding: 15px 10px;
}
.navBarEntrenadores ul {
    display: flex;
    flex-direction: row;
}

.textonavBarEntrenadores {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarEntrenadores li{
    display: flex;
    text-decoration: none;
}

.cuerpoEntrenadores {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
}

.cuerpoEntrenadores .entrenadorFede {
    display: grid;
    filter: grayscale();
    width: 85%;
    height: 85vh;
    object-fit: contain;
    grid-column: 4/5;
    grid-row: 1/4;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .entrenadoraFlor {
    display: grid;
    filter: grayscale();
    width: 65%;
    height: 65vh;
    grid-column: 3/4;
    grid-row: 1/4;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .entrenadorAlex {
    display: grid;
    filter: grayscale();
    width: 100%;
    height: 100vh;
    grid-column: 2/3;
    grid-row: 1/4;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .cuerpoTituloEntrenadores {
    display: grid;
    margin-left: 20px;
    color: yellow;
    font-size: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
}

.cuerpoEntrenadores .cuerpoTextoEntrenadores {
    display: grid;
    margin-left: 20px;
    grid-column: 1/2;
    grid-row: 2/4;
}

.cuerpoEntrenadores button {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores a{
    color: #8e8e8e;
}

.cuerpoEntrenadores .nombreAlex {
    display: grid;
    color: yellow;
    font-size: xx-large;
    font-weight: bolder;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .nombreFlor {
    display: grid;
    color: yellow;
    font-size: xx-large;
    font-weight: bolder;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .nombreFede {
    display: grid;
    color: yellow;
    font-size: xx-large;
    font-weight: bolder;
    grid-column: 4/5;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores img:hover{
    filter: drop-shadow(5px 5px yellow);
}

.cuerpoEntrenadores h1:hover{
    color: darkgoldenrod;
}

.cuerpoEntrenadores h3:hover{
    color: darkorange;
}

.cuerpoEntrenadores a:hover{
    color: darkgoldenrod;
    font-weight: bold;
}

.cuerpoEntrenadores button:hover{
    background-color: white;
}

.textonavBarEntrenadores li a:hover{
    color: yellow;
}

.footerEntrenadores {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerEntrenadores .tituloUnoEntrenadores {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
}

.footerEntrenadores .textoUnoEntrenadores {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.footerEntrenadores .tituloDosEntrenadores {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.footerEntrenadores .textoDosEntrenadores {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.footerEntrenadores .tituloTresEntrenadores {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
}

.footerEntrenadores .textoTresEntrenadores {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.footerEntrenadores .gradienteFooterEntrenadores{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
}


/** Termina codigo de entrenadores.html**/

/** Comienza codigo de Features.html **/
.headerFeatures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarFeatures ul {
    display: flex;
    flex-direction: row;
}

.textonavBarFeatures {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarFeatures li{
    display: flex;
    text-decoration: none;
}

.cuerpoFeatures {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
}

.cuerpoFeatures .maquinaGym {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    filter: grayscale();
    grid-column: 1/3;
    grid-row: 1/4;
}

.cuerpoFeatures .tituloFeatures {
    display: grid;
    color: rgb(0, 128, 75);
    padding-top: 110px;
    margin-right: 20px ;
    font-size: 40px;
    grid-column: 3/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: right;
}

.cuerpoFeatures .botonFeatures {
    display: grid;
    background-color: rgb(0, 128, 75);
    padding: 15px 10px;
    margin-bottom: 110px;
    margin-right: 20px;
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: right;
    align-self: end;   
}


.cuerpoFeatures .textoFeatures {
    display: grid;
    grid-column: 3/5;
    grid-row: 1/4;
    margin-right: 20px;
    text-align: right;
    align-self:  center;
}

.cuerpoFeatures img:hover{
    filter: drop-shadow(5px 5px rgb(0, 128, 75));
}

.cuerpoFeatures h1:hover {
    color: darkgreen;
}

.cuerpoFeatures a:hover {
    color: rgb(0, 128, 75);
    font-weight: bolder;
}

.cuerpoFeatures button:hover {
    font-weight: bold;
    background-color: white;
}

.textonavBarFeatures li a:hover{
    color: rgb(0, 128, 75);
}

.footerFeatures {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerFeatures .tituloUnoFeatures {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
}

.footerFeatures .textoUnoFeatures {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.footerFeatures .tituloDosFeatures {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.footerFeatures .textoDosFeatures {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.footerFeatures .tituloTresFeatures {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
}

.footerFeatures .textoTresFeatures {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.footerFeatures .gradienteFooterFeatures{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/5;
}

/** Termina codigo de Features.html **/

/** Comienza codigo de Planes.html **/
.headerPlanes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarPlanes ul {
    display: flex;
    flex-direction: row;
}

.textonavBarPlanes {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarPlanes li{
    display: flex;
    text-decoration: none;
}

.cuerpoPlanes {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(1,200px);
}

.cuerpoPlanes .chicoGym2{
    display: grid;
    filter: grayscale();
    width: 70%;
    height: 95vh;
    grid-column: 1/3;
    grid-row: 1/4;
    justify-self: center;
    align-self: end;
}

.cuerpoPlanes .tituloPlanes {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    color: rgb(0, 238, 255);
    font-size: 40px;
    justify-self: center;
    align-self: center;
}

.cuerpoPlanes .botonPlanesClases {
    display: grid;
    color: white;
    background-color: rgb(0, 238, 255);
    padding: 15px 10px;
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
}


.cuerpoPlanes .botonPlanesEjercicios {
    display: grid;
    color: white;
    background-color: rgb(0, 238, 255);
    padding: 15px 10px;
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

.cuerpoPlanes .botonPlanesProductos {
    display: grid;
    color: white;
    background-color: rgb(0, 238, 255);
    padding: 15px 10px;
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: top;
}

.cuerpoPlanes button:hover {
    font-weight: bolder;
    color: rgb(0, 238, 255);
    background-color: white;
}

.cuerpoPlanes img:hover{
    filter: drop-shadow(5px 5px rgb(0, 238, 255));
}

.textonavBarPlanes li a:hover{
    color: rgb(0, 238, 255);
}

.footerPlanes {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerPlanes .tituloUnoPlanes {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
}

.footerPlanes .textoUnoPlanes {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.footerPlanes .tituloDosPlanes {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.footerPlanes .textoDosPlanes {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.footerPlanes .tituloTresPlanes {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
}

.footerPlanes .textoTresPlanes {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.footerPlanes .gradienteFooterPlanes{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
}

/** Termina codigo de Planes.html **/