/** Codigo general **/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.fondoIndex {
    background-image: url("../assets/fondoIndex.png");
}


h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color: white;
}

.nosotrosFondo {
    background-image: url("../assets/fondoNos.png");
    background-size: cover;
}

.entrenadoresFondo {
    background-image: url("../assets/fondoEntrenador.png");
    background-size: cover;
}

.featuresFondo {
    background-image: url("../assets/fondoFeatures.png");
    background-size: cover;
}

.planesFondo {
    background-image: url("../assets/fondoPlanes.png");
    background-size: cover;
}


* button{
    padding: 10px;
    border-radius: 40%;
    width: 100px;
    height: 3.125rem;
    border: none;
    }
/**Termina codigo general **/

/** Comienza el codigo de INDEX **/
.headerIndex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBar ul {
    display: flex;
    flex-direction: row;
}

.textonavBar {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBar li {
    display: flex;
    text-decoration: none;
}

.textonavBar li a{
    color: white;
}

.cuerpoIndex button {
    background-color: red;
}


.cuerpoIndex {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
}

.cuerpoIndex .chicoGym {
    display: grid;
    filter: grayscale();
    grid-column: 4/5;
    grid-row: 1/4;
    justify-self: center;
    align-self: end; 
}

.cuerpoIndex .botonVermas{
    display: grid;
    padding: 15px 10px;
    border-radius: 100px;
    margin-left: 50px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.cuerpoIndex .logoWhatsapp{
    display: grid;
    width: 20%;
    height: 20vh;
    padding-top: 80px;
    margin-left: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
    object-fit: contain;
    justify-self: left;
    align-self: end;
}

.cuerpoIndex .linkWhatsapp{
    display: grid;
    padding: 15px 10px;
    border-radius: 100px;
    margin-right: 50px;
    background-color: rgb(37, 211, 102);
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: right;
    align-self: end;
}

.cuerpoIndex .logoInsta {
    display: grid;
    width: 20%;
    height: 20vh;
    margin-left: 50px;
    padding-top: 80px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: left;
    align-self: end;
    object-fit: contain;
}

.cuerpoIndex .linkInsta{
    display: grid;
    padding: 15px 10px;
    border-radius: 100px;
    margin-right: 50px;
    background-color: rgb(184, 12, 186);
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: right;
    align-self: end;
}

.cuerpoIndex .logoYoutube {
    display: grid;
    width: 20%;
    height: 20vh;
    margin-left: 50px;
    padding-top: 80px;
    grid-column: 3/4;
    grid-row: 2/3;
    object-fit: contain;
    justify-self: left;
    align-self: end;
}

.cuerpoIndex .linkYoutube{
    display: grid;
    padding: 15px 10px;
    border-radius: 100px;
    margin-right: 50px;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: right;
    align-self: end;
}

span {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.cuerpoIndex h1 {
    display: grid;
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    font-size: 60px;
    margin-left: 20px;
    line-height: 0.8;
    justify-self: center;
    align-self: center;
    color: white;
    font-style: italic;
}
.cuerpoIndex span{
    display: grid;
    font-size: 70px ;
    color: red; 
    font-style: italic;
    justify-self: center;
    align-self: center;
}


.cuerpoIndex .chicoGym:hover{
    filter: drop-shadow(4px 4px red);
}

.cuerpoIndex a:hover{
    color: red;
    font-weight: bolder;
}

.cuerpoIndex button:hover{
    background-color: white;
}

.cuerpoIndex .anclaInsta:hover{
    color: rgb(184, 12, 186)
}

.cuerpoIndex .anclaWhatsapp:hover{
    color: rgb(37, 211, 102) ;
}

.cuerpoIndex span:hover{
    color: white;
}

.cuerpoIndex h1:hover{
    color: red;
}

.cuerpoIndex .textonaBar li:hover{
    color: red;
}

.textonavBar li a:hover{
    color: red;
}

.headerIndex .logoActiveIndex:hover{
    filter: drop-shadow(1px 1px red);
}

.footerIndex {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerIndex .tituloUnoIndex {
    display: grid;
    margin-left: 20px;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
    color: red;
}

.footerIndex .textoUnoIndex {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 20px;
    order: 2;
    color: black ;
    order: 4;
}

.footerIndex .tituloDosIndex {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    color: red;
}

.footerIndex .textoDosIndex {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    color: black;
    order: 2;
}

.footerIndex .tituloTresIndex {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
    color:red;
}

.footerIndex .textoTresIndex {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    color:black;
    margin-right: 20px;
    order: 2;
}

.footerIndex .gradienteFooterIndex{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
    order: 1;
}

/** Termina el codigo de INDEX **/

/**Comienza codigo de nosotros.html **/

.headerNosotros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarNosotros ul {
    display: flex;
    flex-direction: row;
}

.textonavBarNosotros {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarNosotros li{
    display: flex;
    text-decoration: none;
}

.cuerpoNosotros {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
}

.cuerpoNosotros .bannerGym {
    display: grid;
    width: 100%;
    height: 30vh;
    filter: grayscale();
    background-size:cover;
    grid-column: 1/5;
    grid-row: 1/2;
    object-fit:cover;
    align-self: center;
    justify-self: center;
}

.cuerpoNosotros h1{
    font-size: 55px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: left;
    align-self: top;
    color: red;
    font-style: italic;
    margin-left: 20px;
}

.cuerpoNosotros .logoActive {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: right;
    align-self: top;
    margin-top: 20px;
    margin-right: 50px;
}

.cuerpoNosotros .parrafoUno {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
    text-align:left;
    align-self: end;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cuerpoNosotros .iconoUbicacion {
    display: grid;
    width: 5%;
    height: 5vh;
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: top;
    justify-self: center;
    margin-top: 33px;
    margin-right: 170px;
}
.cuerpoNosotros .textoUbi{
    display: grid;
    font-weight: 600;
    color: white;
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: left;
    align-self: center;
    margin-bottom: 99px;
    margin-left: 110px;
}
.cuerpoNosotros .mapaActive{
    display: grid;
    grid-column: 2/4;
    grid-row: 2/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 30px;
    margin-right: 50px;
}

.cuerpoNosotros .spotifyBar {
    display: grid;
    grid-column: 3/5;
    grid-row: 2/4;
    justify-self: right;
    align-self: end;
    margin-right: 20px;
}

.cuerpoNosotros .textoplaylistNosotros{
    display: grid;
    font-weight:600;
    color: white;
    grid-column: 3/5;
    grid-row: 2/4;
    justify-self: right;
    align-self: top;
    margin-right: 110px;
    margin-top: 20px;
}

.cuerpoNosotros h1:hover{
    color:white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.329);
}

.cuerpoNosotros .textoUbi:hover{
    color: red;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.329);
}

.cuerpoNosotros .textoplaylistNosotros:hover{
    color: rgb(40, 40, 40);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.329);
}

.textonavBarNosotros li a:hover{
    color: black;
}

.headerNosotros .logoActiveNos:hover{
    filter: drop-shadow(1px 1px red);
}

.footerNosotros {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerNosotros .tituloUnoNosotros {
    display: grid;
    font-weight: bold;
    color: red;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
}

.footerNosotros .textoUnoNosotros {
    display: grid;
    color: black;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 20px;
    order: 2;
}

.footerNosotros .tituloDosNosotros {
    display: grid;
    color: red;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.footerNosotros .textoDosNosotros {
    display: grid;
    color:black;
    margin-right: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    order:5;
}

.footerNosotros .tituloTresNosotros {
    display: grid;
    color: red;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
}

.footerNosotros .textoTresNosotros {
    display: grid;
    color: black;
    grid-column: 3/4;
    grid-row: 2/3;
    margin-right: 20px;
    order: 2;
}

.footerNosotros .gradienteFooterNosotros{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
    order: 1;
}

/**Termina codigo de nosotros.html**/

/** Comienza codigo de entrenadores.html **/

.headerEntrenadores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cuerpoEntrenadores button {
    background-color: yellow;
    padding: 15px 10px;
    border-radius: 100px;
}
.navBarEntrenadores ul {
    display: flex;
    flex-direction: row;
}

.textonavBarEntrenadores {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarEntrenadores li{
    display: flex;
    text-decoration: none;
}

.cuerpoEntrenadores {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
}

.cuerpoEntrenadores .entrenadorFede {
    display: grid;
    filter: grayscale();
    width: 85%;
    height: 85vh;
    object-fit: contain;
    grid-column: 4/5;
    grid-row: 1/4;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .entrenadoraFlor {
    display: grid;
    filter: grayscale();
    width: 65%;
    height: 65vh;
    grid-column: 3/4;
    grid-row: 1/4;
    object-fit: contain;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}

.cuerpoEntrenadores .entrenadorAlex {
    display: grid;
    filter: grayscale();
    width: 100%;
    height: 100vh;
    grid-column: 2/3;
    grid-row: 1/4;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .cuerpoTituloEntrenadores {
    display: grid;
    margin-left: 20px;
    color: yellow;
    font-style: italic;
    font-size: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
}

.cuerpoEntrenadores .cuerpoTextoEntrenadores {
    display: grid;
    margin-left: 20px;
    grid-column: 1/2;
    grid-row: 2/4;
}

.cuerpoEntrenadores button {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores a{
    color: #8e8e8e;
}

.cuerpoEntrenadores .nombreAlex {
    display: grid;
    color: yellow;
    font-size: xx-large;
    font-weight: bolder;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .ocupacionAlex{
    display: grid;
    color: white;
    font-weight: 500;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 50px;
}

.cuerpoEntrenadores .nombreFlor {
    display: grid;
    color: yellow;
    font-size: xx-large;
    font-weight: bolder;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .ocupacionFlor{
    display: grid;
    color: white;
    font-weight: 500;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 50px;
}

.cuerpoEntrenadores .nombreFede {
    display: grid;
    color: yellow;
    font-size: xx-large;
    font-weight: bolder;
    grid-column: 4/5;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.cuerpoEntrenadores .ocupacionFede{
    display: grid;
    color: white;
    font-weight: 500;
    grid-column: 4/5;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 50px;
}


.cuerpoEntrenadores img:hover{
    filter: drop-shadow(5px 5px yellow);
}

.cuerpoEntrenadores h1:hover{
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.329);
}

.cuerpoEntrenadores h3:hover{
    color: pink;
}

.cuerpoEntrenadores a:hover{
    color:#8e8e8e;
    font-weight: bold;
}

.cuerpoEntrenadores button:hover{
    background-color: white;
}

.textonavBarEntrenadores li a:hover{
    color: yellow;
}

.headerEntrenadores .logoActiveEntrenadores:hover{
    filter: drop-shadow(1px 1px yellow);
}

.footerEntrenadores {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerEntrenadores .tituloUnoEntrenadores {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
    color: yellow;
    margin-left: 20px;
}

.footerEntrenadores .textoUnoEntrenadores {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
    margin-left: 20px;
    order: 4;
}

.footerEntrenadores .tituloDosEntrenadores {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    color: yellow;
}

.footerEntrenadores .textoDosEntrenadores {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    color: black;
    order: 3;
}

.footerEntrenadores .tituloTresEntrenadores {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
    color: yellow;
}

.footerEntrenadores .textoTresEntrenadores {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    color: black;
    margin-right: 20px;
    order: 2;
}

.footerEntrenadores .gradienteFooterEntrenadores{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
    order: 1;
}


/** Termina codigo de entrenadores.html**/

/** Comienza codigo de Features.html **/
.headerFeatures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarFeatures ul {
    display: flex;
    flex-direction: row;
}

.textonavBarFeatures {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarFeatures li{
    display: flex;
    text-decoration: none;
}

.cuerpoFeatures {
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
}

.cuerpoFeatures .maquinaGym {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    filter: grayscale();
    grid-column: 1/3;
    grid-row: 1/4;
}

.cuerpoFeatures .tituloFeatures {
    display: grid;
    color: rgb(0, 128, 75);
    font-style: italic;
    padding-top: 60px;
    margin-right: 50px ;
    font-size: 60px;
    grid-column: 3/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: right;
}

.cuerpoFeatures .botonFeatures {
    display: grid;
    background-color: rgb(0, 128, 75);
    border-radius: 100px;
    padding: 15px 10px;
    margin-bottom: 95px;
    margin-right: 50px;
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: right;
    align-self: end;   
}


.cuerpoFeatures .textoFeatures {
    display: grid;
    grid-column: 3/5;
    grid-row: 1/4;
    margin-right: 50px;
    text-align: right;
    align-self:  center;
}

.cuerpoFeatures img:hover{
    filter: drop-shadow(5px 5px rgb(0, 128, 75));
}

.cuerpoFeatures h1:hover {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.329);
}

.cuerpoFeatures a:hover {
    color: rgb(0, 128, 75);
    font-weight: bolder;
}

.cuerpoFeatures button:hover {
    font-weight: bold;
    background-color: white;
}

.textonavBarFeatures li a:hover{
    color: rgb(0, 128, 75);
}

.headerFeatures .logoActiveFeatures:hover{
    filter: drop-shadow(1px 1px rgb(0, 128, 75));
}
.footerFeatures {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerFeatures .tituloUnoFeatures {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
    color: white;
}

.footerFeatures .textoUnoFeatures {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
    order: 4;
    margin-left: 20px;
}

.footerFeatures .tituloDosFeatures {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
}

.footerFeatures .textoDosFeatures {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    color: black;
    order: 3
}

.footerFeatures .tituloTresFeatures {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
    color: white;
}

.footerFeatures .textoTresFeatures {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    color: black;
    order: 2;
    margin-right: 20px;
}

.footerFeatures .gradienteFooterFeatures{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/5;
    order: 1
}

/**Comienzo de Codigo media queries de Features.html**/

@media (max-width:1024px){

    .featuresFondo{
        background-image: url("../assets/fondoFeat.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cuerpoFeatures {
        display: grid;
        grid-template-columns:  repeat(4,1fr);
        grid-template-rows: repeat(4,200px);
    }

    .cuerpoFeatures .tituloFeatures {
        display: grid;
        color: rgb(0, 128, 75);
        font-size: 90px;
        grid-column: 2/4;
        grid-row: 1/2;
        justify-self: top;
        align-self: center;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .cuerpoFeatures .maquinaGym {
        width: 115%;
        height: 100vh;
        margin-top: 20px;
        object-fit: contain;
        filter: grayscale();
        grid-column: 2/4;
        grid-row: 1/4;
        margin-top: 150px;
    }
    
    .cuerpoFeatures .textoFeatures {
        display: grid;
        grid-column: 1/5;
        grid-row: 2/3;
        text-align:justify;
        margin-left: 50px;
        margin-top: 20px;
        }

    .cuerpoFeatures .botonFeatures {
        display: grid;
        background-color: rgb(0, 128, 75);
        border-radius: 100px;
        padding: 5px 5px;
        width: 190px;
        grid-column: 4/5;
        grid-row: 4/5;
        margin-top: 100px;
    }

    .cuerpoFeatures a{
        font-size: 28px;
    }

    .footerFeatures {
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: repeat(4,100px);
        margin-top: 180px;
        }

    .footerFeatures .tituloUnoFeatures {
        display: grid;
        font-weight: bold;
        grid-column: 1/2;
        grid-row: 3/4;
        color: rgb(0, 128, 75);
        font-size: 50px;
        margin-bottom: 50px;
        order: 4
        }
        
    .footerFeatures .textoUnoFeatures {
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
        color: black;
        order: 4;
        margin-left: 20px;
        align-self: end;
        }
        
    .footerFeatures .tituloDosFeatures {
        display: grid;
        font-weight: bold;
        align-self: end;
        grid-column: 2/3;
        grid-row: 3/4;
        color: rgb(0, 128, 75);
        font-size: 50px;
        margin-bottom: 50px;
        order:5;
        }
        
    .footerFeatures .textoDosFeatures {
        display: grid;
        grid-column: 2/3;
        grid-row: 3/4;
        color: black;
        align-self: end;
        order: 3;
        }
        
    .footerFeatures .tituloTresFeatures {
        display: grid;
        font-weight: bold;
        align-self: end;
        grid-column: 3/4;
        grid-row: 3/4;
        color: rgb(0, 128, 75);
        font-size: 50px;
        margin-bottom: 50px;
        order: 6;
        }
        
    .footerFeatures .textoTresFeatures {
        display: grid;
        grid-column: 3/4;
        grid-row: 3/4;
        color: black;
        order: 2;
        margin-right: 20px;
        align-self: end;
        }
    
    .footerFeatures .gradienteFooterFeatures{
        display: grid;
        grid-column: 1/4;
        grid-row: 3/5;
        align-self: end;
    }
}

@media (max-width:768px){

    .cuerpoFeatures .tituloFeatures {
        display: grid;
        color: rgb(0, 128, 75);
        font-size: 80px;
        grid-column: 2/4;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
        margin-bottom: 90px;
        margin-left: 180px;
    }

    .cuerpoFeatures .textoFeatures {
        display: grid;
        grid-column: 1/5;
        grid-row: 2/3;
        text-align:justify;
        margin-left: 50px;
        margin-top: 80px;
        }

    .cuerpoFeatures .maquinaGym {
        width: 150%;
        height: 100vh;
        margin-top: 20px;
        object-fit: contain;
        filter: grayscale();
        grid-column: 2/4;
        grid-row: 1/4;
        margin-top: 200px;
        }

    .cuerpoFeatures .botonFeatures {
        margin-left: 50px;
    }

    .footerFeatures {
        display: grid;
        grid-template-columns:  repeat(4, 200px);
        grid-template-rows: repeat(4,100px);
    }
    
    .footerFeatures .tituloUnoFeatures {
        display: grid;
        font-weight: bold;
        grid-column: 1/2;
        grid-row: 3/4;
        color: rgb(0, 128, 75);
        font-size: 30px;
        margin-bottom: 80px;
        margin-left: 30px;
        order: 4;
    }

            
    .footerFeatures .textoUnoFeatures {
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
        color: black;
        order: 4;
        margin-left: 30px;
        align-self: end;
        }
            
    .footerFeatures .tituloDosFeatures {
        display: grid;
        font-weight: bold;
        align-self: end;
        grid-column: 2/3;
        grid-row: 3/4;
        color: rgb(0, 128, 75);
        font-size: 30px;
        margin-bottom: 80px;
        margin-left: 10px;
        order:5;
        }
            
    .footerFeatures .textoDosFeatures {
        display: grid;
        grid-column: 2/3;
        grid-row: 3/4;
        color: black;
        align-self: end;
        order: 3;
        margin-left: 10px;
        }
            
    .footerFeatures .tituloTresFeatures {
        display: grid;
        font-weight: bold;
        align-self: end;
        grid-column: 3/4;
        grid-row: 3/4;
        color: rgb(0, 128, 75);
        font-size: 30px;
        margin-left: 15px;
        margin-bottom: 80px;
        order: 6;
        }
            
    .footerFeatures .textoTresFeatures {
        display: grid;
        grid-column: 3/4;
        grid-row: 3/4;
        color: black;
        order: 2;
        margin-right: 10px;
        align-self: end;
        margin-left: 20px;
        }
        
    .footerFeatures .gradienteFooterFeatures{
        display: grid;
        grid-column: 1/5;
        grid-row: 3/5;
        align-self: end;
    }
}

@media (max-width:425px){ 

    .headerFeatures{
        gap: 100px
    }

    .headerFeatures a{
        font-size: 20px;
    }

    .headerFeatures .logoActiveFeatures{
        margin-left: 30px;
    }

    .cuerpoFeatures {
        display: grid;
        grid-template-columns:  repeat(4,200px);
        grid-template-rows: repeat(8,200px);
    }

    .cuerpoFeatures .tituloFeatures {
        display: grid;
        color: white;
        font-size: 100px;
        grid-column: 2/4;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
        margin-bottom: 130px;
        margin-right: 180px;
    }

    .cuerpoFeatures .maquinaGym {
        width: 200%;
        height: 100vh;
        object-fit: contain;
        filter: grayscale();
        grid-column: 2/4;
        grid-row: 5/8;
        justify-self: center;
        align-items: center;
        margin-bottom: 1000px;
    }
    .cuerpoFeatures .textoFeatures {
        display: grid;
        font-size: x-large;
        text-align:justify;
        margin-left: 50px;
        margin-top: 200px;
    }

    .cuerpoFeatures a{
        font-size: 50px;
        padding: 10px 15px;
    }

    .cuerpoFeatures .botonFeatures {
        display: grid;
        background-color: rgb(0, 128, 75);
        border-radius: 100px;
        width: 250px;
        height: 100px;
        grid-column: 2/4;
        grid-row: 5/6;
        margin-right: 100px;
    }

    .footerFeatures {
        display: grid;
        grid-template-columns:  repeat(4, 200px);
        grid-template-rows: repeat(4,100px);
        margin-top: 800px;
    }

}

/**Culminacion de Codigo media queries de Features.html**/

/** Termina codigo de Features.html **/

/** Comienza codigo de Planes.html **/
.headerPlanes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarPlanes ul {
    display: flex;
    flex-direction: row;
}

.textonavBarPlanes {
    display: flex;
    text-decoration: none;
    gap: 1.875rem;
}

.textonavBarPlanes li{
    display: flex;
    text-decoration: none;
}

.cuerpoPlanes {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(1,200px);
}

.cuerpoPlanes .chicoGym2{
    display: grid;
    filter: grayscale();
    width: 70%;
    height: 95vh;
    grid-column: 1/3;
    grid-row: 1/4;
    justify-self: center;
    align-self: end;
}

.cuerpoPlanes .tituloPlanes {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    color: rgb(0, 238, 255);
    font-style: italic;
    font-size: 75px;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
}

.cuerpoPlanes .botonPlanesClases {
    display: grid;
    color: white;
    background-color: rgb(0, 238, 255);
    padding: 15px 10px;
    border-radius: 100px;
    grid-column: 2/4;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
    margin-bottom: 170px;
}


.cuerpoPlanes .botonPlanesEjercicios {
    display: grid;
    color: white;
    background-color: rgb(0, 238, 255);
    padding: 15px 10px;
    border-radius: 100px;
    grid-column: 2/4;
    grid-row: 2/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 170px;
}

.cuerpoPlanes .botonPlanesProductos {
    display: grid;
    color: white;
    background-color: rgb(0, 238, 255);
    padding: 15px 10px;
    border-radius: 100px;
    grid-column: 2/4;
    grid-row: 2/4;
    justify-self: center;
    align-self: top;
}

.headerPlanes .logoActivePlanes:hover{
    filter: drop-shadow(1px 1px rgb(0, 238, 255));
}

.cuerpoPlanes h1:hover{
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.329);
}

.cuerpoPlanes button:hover {
    font-weight: bolder;
    background-color: white;
}

.cuerpoPlanes a:hover{
    color: rgb(0, 238, 255) ;
    font-weight: bolder;
}
.cuerpoPlanes img:hover{
    filter: drop-shadow(5px 5px rgb(0, 238, 255));
}

.textonavBarPlanes li a:hover{
    color: rgb(0, 238, 255);
}

.footerPlanes {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(0,200px);
}

.footerPlanes .tituloUnoPlanes {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
    color: white;
}

.footerPlanes .textoUnoPlanes {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
    margin-left: 20px;
    order: 4;
}

.footerPlanes .tituloDosPlanes {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
}

.footerPlanes .textoDosPlanes {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    color: black;
    order: 3;
}

.footerPlanes .tituloTresPlanes {
    display: grid;
    font-weight: bold;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
    color: white;
}

.footerPlanes .textoTresPlanes {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    color: black;
    order: 2;
    margin-right: 20px;
}

.footerPlanes .gradienteFooterPlanes{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-column: 1/4;
    grid-row: 1/4;
    order: 1;
}

/** Comienzo de Codigo de media queries **/

@media (max-width:1024px){

    .planesFondo{
        background-image: url("../assets/fondoPla.png");
    }

    .cuerpoPlanes a{
        font-size: 30px;
    }

    .cuerpoPlanes .tituloPlanes{
        font-size: 90px;
    }
    .cuerpoPlanes .chicoGym2{
        object-fit: contain;
        width: 600px;
        height: 100vh;
        order: 0;
    }
    .cuerpoPlanes .botonPlanesClases{
        width: 200px;
        height: 60px;
        padding: 10px 15px;
        margin-left: 50px;
        order: 2;
    }

    .cuerpoPlanes .botonPlanesProductos{
        width: 200px;
        height: 60px;
        padding: 10px 15px;
        margin-top: 140px;
        margin-left: 50px;
        order: 3;
    }

    .cuerpoPlanes .botonPlanesEjercicios{
        width: 200px;
        height: 60px;
        padding: 10px 15px;
        margin-bottom: 300px;
        margin-left: 50px;
        order: 4;
    }

    .cuerpoPlanes .tituloPlanes{
        order: 5;
    }

    .footerPlanes .tituloUnoPlanes {
        font-size: 50px;
    }

    .footerPlanes .tituloDosPlanes {
        font-size: 50px;
    }

    .footerPlanes .tituloTresPlanes {
        font-size: 50px;
    }

}

@media (max-width:768px){
    .headerPlanes a{
        font-size:medium;
    }

    .cuerpoPlanes .tituloPlanes{
        display: grid;
        grid-column: 1/4;
        justify-self: center;
        align-self: center;
    }
}

@media (max-width:425px){
    
}


/** Termina codigo de Planes.html **/